:root {
  --cinza: #a9a9 ;
}

html,
body,
ul {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
}

img {
  width: 40px;
  background-color: #CCC;
  border-radius: 50%;
}

/* =============================== sidebar =============================== */
.container {
  height: 100vh;
  border: 1px solid var(--cinza);
  position: relative;
}
.container .sidebar {
  width: 410px;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.container .sidebar .toolbar-containe {
  background-color: #EEE;
  width: 100%;
  height: 60px;
}
.container .sidebar .user-photo {
  width: 40px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 10px;
  background-color: #CCC;
}
.container .sidebar .auxicons-toolbar-container {
  display: inline-block;
  background-color: #F8F8F8;
}
.container .sidebar .auxicons-toolbar-container .auxicons-toolbar-box {
  float: right;
  height: 60px;
  line-height: 60px;
  padding-right: 20px;
}
.container .sidebar .auxicons-toolbar-container .auxicons-toolbar-box i {
  color: #80868A;
  font-size: 20px;
  margin: 0 15px 0 15px;
  cursor: pointer;
}
.container .sidebar .notification-container {
  width: 100%;
  height: 90px;
  padding-top: 23px;
  padding-left: 80px;
  background-color: #9DE1FE;
  color: #384c56;
  position: relative;
  box-sizing: border-box;
}
.container .sidebar .fas.fa-bell-slash {
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size: 18px;
  color: #9DE1FE;
  background-color: #F5FCFF;
  position: absolute;
  top: 20px;
  left: 15px;
}
.container .sidebar .search-container {
  position: relative;
  height: 50px;
  width: 100%;
  padding: 7.5px 0 0 7.5px;
  background-color: #F8F8F8;
  color: #BDC1C3;
}
.container .sidebar .search-container i {
  position: absolute;
  left: 30px;
  top: 18px;
  font-size: 14px;
}
.container .sidebar .search-container #search {
  border: none;
  height: 35px;
  width: 385px;
  padding-left: 60px;
  border-radius: 17.5px;
  background-color: #FFF;
  outline: none;
}
.container .sidebar .search-container #search #search::-moz-placeholder {
  color: #BDC1C3;
}
.container .sidebar .search-container #search #search::placeholder {
  color: #BDC1C3;
}
.container .sidebar .contacts-container {
  background-color: #FFF;
  height: auto;
}
.container .sidebar .contacts-container .contact-box {
  height: 72px;
  background-color: #FFF;
  border-top: 1px solid #f2f2f2;
  position: relative;
  padding-left: 20px;
}
.container .sidebar .contacts-container .contact-box:last-child {
  border-bottom: 1px solid #f2f2f2;
}
.container .sidebar .contacts-container .contact-box:hover {
  background-color: #f4f5f5;
  cursor: pointer;
}
.container .sidebar .contacts-container .active-chat {
  background-color: #E9EBEB;
}
.container .sidebar .contacts-container .active-chat.contact-box:hover {
  background-color: #E9EBEB;
}
.container .sidebar .contacts-container .user-info {
  margin-left: 10px;
  padding-top: 10px;
  display: inline-block;
  height: 100%;
}
.container .sidebar .contacts-container .user-info p,
.container .sidebar .contacts-container .message-info p {
  margin: 0;
}
.container .sidebar .contacts-container .user-name {
  font-size: 16px;
  color: #000;
  margin-bottom: 12px;
}
.container .sidebar .contacts-container .user-messagepreview {
  font-size: 14px;
  color: #454545;
}
.container .sidebar .contacts-container .fa-check-double {
  margin-right: 5px;
  color: #4FC3F7;
}
.container .sidebar .contacts-container .message-info {
  position: absolute;
  top: 12px;
  right: 20px;
  display: inline-block;
}
.container .sidebar .contacts-container .message-info .message-time {
  font-size: 12px;
  margin-bottom: 5px;
  color: #CCC;
}
.container .sidebar .contacts-container .message-pending {
  background-color: #09d261;
  color: #FFF;
  width: 19px;
  height: 19px;
  line-height: 19px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  float: right;
}

/* =============================== sidebar =============================== */
/* =============================== chat ================================== */
.chat-container {
  position: absolute;
  top: 0;
  left: 410px;
  width: calc(100% - 410px);
  height: 100%;
  background-color: #CCC;
  /* ================================ mensagens ================================ */
}
.chat-container .chat-navbar {
  /* display: flex;
  justify-content: space-between; */
  height: 60px;
  background-color: #EEEEEE;
  border-left: 1px solid #DDD;
  padding-left: 75px;
}
.chat-container .chat-navbar .chat-navbar p {
  margin: 0;
}
.chat-container .chat-navbar .contactinfo-container {
  display: inline-block;
}
.chat-container .chat-navbar .contactinfo-container .test {
  display: flex;
  place-items: center;
}
.chat-container .chat-navbar .contactinfo-container .test .user-name {
  font-size: 16px;
  height: 60px;
  font-weight: 600;
  line-height: 60px;
  margin-left: 10px;
}
.chat-container .chat-navbar .chattools-container {
  float: right;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  margin-right: 20px;
}
.chat-container .chat-navbar .chattools-container li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  color: #80868A;
  cursor: pointer;
}
.chat-container .messages-container {
  background-color: #E1DAD2;
  height: calc(100% - 120px);
  position: relative;
  /*         .guest-message:before {
              content: "";
              width: 0; 
              height: 0; 
              border-bottom: 17px solid transparent; 
              border-right:17px solid #FFF; 
              position: absolute;
              top: 0;
              left: -10px;
          } */
}
.chat-container .messages-container .messages-container p {
  margin: 0;
}
.chat-container .messages-container .bg-image {
  background-image: url("../img/background_whats.png");
  background-repeat: repeat;
  opacity: 0.06;
  width: 100%;
  height: 100%;
}
.chat-container .messages-container .chat-messages {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 30px 80px;
  box-sizing: border-box;
}
.chat-container .messages-container .chat-messages .box_model {
  display: flex;
}
.chat-container .messages-container .chat-messages .box_model .guest-message {
  background-color: #FFF;
}
.chat-container .messages-container .chat-messages p {
  display: block;
  color: #262626;
  font-size: 14px;
  padding: 7px 0 7px 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: relative;
  width: 200px;
}
.chat-container .messages-container .user-message {
  background-color: #DCF8C6;
  float: right;
}
.chat-container .messages-container .user-message:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #DCF8C6;
  position: absolute;
  top: 0;
  right: -10px;
}

/* ========================= send message ========================= */
.sendmessage-container {
  position: relative;
  background-color: #EFEFEF;
  border-left: 1px solid #DDD;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
}

#chatmessage {
  position: absolute;
  top: 10px;
  left: 60px;
  background-color: #FFF;
  border: none;
  height: 40px;
  border-radius: 20px;
  padding-left: 20px;
  font-size: 16px;
  width: 70%;
  outline: none;
}

.sendmessage-container i {
  font-size: 24px;
  color: #80868A;
  cursor: pointer;
  height: 60px;
  line-height: 60px;
}

.fa-microphone {
  float: right;
}

/* =============================== chat ================================== */
.fim {
  display: none;
}

@media (max-width: 1120px) {
  main, .container {
    display: none;
  }
  .fim {
    display: initial;
  }
}/*# sourceMappingURL=style.css.map */